@model Enmarcha.Experimental.ServiceViewer.Views.Services.DaysInFeedModel
@{
    ViewData["Title"] = "Fechas con datos";
}

@section Head
{
    <link rel="stylesheet" href="~/styles/days_in_feed.css" />
}

<header>
    <h1>Fechas con datos</h1>
</header>

<main>
    @foreach (var day in Model.Days)
    {
        <article>
            <a asp-controller="Services" asp-action="ServicesInDay" asp-route-day="@day.ToString("yyyy-MM-dd")">@day.ToString("M")</a>
        </article>
    }
</main>
