/* Vigo line colors */
:root {
  --line-c1: hsl(14, 86%, 50%);
  --line-c1-text: hsl(0, 0%, 100%);
  --line-c3d: hsl(48, 100%, 50%);
  --line-c3i: hsl(48, 100%, 50%);
  --line-l4a: hsl(120, 100%, 30%);
  --line-l4a-text: hsl(0, 0%, 100%);
  --line-l4c: hsl(120, 100%, 30%);
  --line-l4c-text: hsl(0, 0%, 100%);
  --line-l5a: hsl(204, 100%, 54%);
  --line-l5a-text: hsl(0, 0%, 100%);
  --line-l5b: hsl(204, 100%, 54%);
  --line-l5b-text: hsl(0, 0%, 100%);
  --line-l6: hsl(330, 60%, 50%);
  --line-l6-text: hsl(0, 0%, 100%);
  --line-l7: hsl(120, 60%, 70%);
  --line-l9b: hsl(36, 83%, 75%);
  --line-l10: hsl(30, 80%, 20%);
  --line-l10-text: hsl(0, 0%, 100%);
  --line-l11: hsl(0, 100%, 44%);
  --line-l11-text: hsl(0, 0%, 100%);
  --line-l12a: hsl(210, 40%, 56%);
  --line-l12b: hsl(209, 39%, 58%);
  --line-l13: hsl(196, 100%, 47%);
  --line-l14: hsl(120, 10%, 44%);
  --line-l14-text: hsl(0, 0%, 100%);
  --line-l15a: hsl(313, 38%, 75%);
  --line-l15b: hsl(313, 38%, 75%);
  --line-l15c: #d8a8a8;
  --line-l16: hsl(120, 10%, 44%);
  --line-l16-text: hsl(0, 0%, 100%);
  --line-l17: hsl(69, 91%, 54%);
  --line-l18a: hsl(320, 61%, 57%);
  --line-l18a-text: hsl(0, 0%, 100%);
  --line-l18b: hsl(320, 61%, 57%);
  --line-l18b-text: hsl(0, 0%, 100%);
  --line-l18h: hsl(320, 61%, 57%);
  --line-l18h-text: hsl(0, 0%, 100%);
  --line-l23: hsl(220, 100%, 41%);
  --line-l23-text: hsl(0, 0%, 100%);
  --line-l24: hsl(0, 0%, 75%);
  --line-l25: hsl(34, 95%, 35%);
  --line-l25-text: hsl(0, 0%, 100%);
  --line-l27: hsl(30, 60%, 30%);
  --line-l27-text: hsl(0, 0%, 100%);
  --line-l28: hsl(230, 98%, 84%);
  --line-l29: hsl(36, 92%, 66%);
  --line-l31: hsl(60, 100%, 50%);
  --line-a: hsl(300, 70%, 35%);
  --line-a-text: hsl(0, 0%, 100%);
  --line-a1: hsl(300, 70%, 35%);
  --line-a1-text: hsl(0, 0%, 100%);
  --line-h: hsl(210, 100%, 33%);
  --line-h-text: hsl(0, 0%, 100%);
  --line-h1: hsl(210, 100%, 33%);
  --line-h1-text: hsl(0, 0%, 100%);
  --line-h2: hsl(210, 100%, 33%);
  --line-h2-text: hsl(0, 0%, 100%);
  --line-h3: hsl(210, 100%, 33%);
  --line-h3-text: hsl(0, 0%, 100%);
  --line-lzd: hsl(220, 60%, 50%);
  --line-n1: hsl(0, 51%, 53%);
  --line-n1-text: hsl(0, 0%, 100%);
  --line-n4: hsl(300, 33%, 30%);
  --line-n4-text: hsl(0, 0%, 100%);
  --line-psa1: hsl(120, 100%, 30%);
  --line-psa4: hsl(120, 100%, 30%);
  --line-ptl: hsl(120, 60%, 70%);
  --line-tur: hsl(300, 33%, 30%);
  --line-tur-text: hsl(0, 0%, 100%);
  --line-u1: hsl(30, 80%, 20%);
  --line-u1-text: hsl(0, 0%, 100%);
  --line-u2: hsl(30, 80%, 20%);
  --line-u2-text: hsl(0, 0%, 100%);
  --line-vts: hsl(300, 33%, 30%);
  --line-vts-text: hsl(0, 0%, 100%);

  /* Special christmas line - Touristic bus */
  --line-nad: hsl(0, 100%, 40%);
  --line-nad-text: hsl(0, 0%, 100%);

  --line-mar: hsl(208, 68%, 66%);
  --line-mar-text: hsl(0, 0%, 100%);
  --line-rio: hsl(208, 68%, 66%);
  --line-rio-text: hsl(0, 0%, 100%);
  --line-gol: hsl(208, 68%, 66%);
  --line-gol-text: hsl(0, 0%, 100%);

  --line-md: hsl(316, 99%, 27%);
  --line-md-text: hsl(0, 0%, 100%);
  --line-ave: hsl(316, 99%, 27%);
  --line-ave-text: hsl(0, 0%, 100%);
  --line-alvia: hsl(316, 99%, 27%);
  --line-alvia-text: hsl(0, 0%, 100%);
  --line-trencelta: hsl(135, 58%, 25%);
  --line-trencelta-text: hsl(0, 0%, 100%);
  --line-regional: hsl(316, 99%, 27%);
  --line-regional-text: hsl(0, 0%, 100%);
}

.line-icon-default {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0.25rem 0.25rem 0 0;
  color: var(--text-color);
  background-color: var(--background-color);

  border-bottom: 3px solid;
  border-color: var(--line-colour);
}

.line-icon-pill {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 0.25rem;

  background-color: var(--line-colour);
  color: var(--line-text-colour);
}

.line-icon-rounded {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 4.25ch;
  height: 4.25ch;
  box-sizing: border-box;

  background-color: var(--line-colour);
  color: var(--line-text-colour);
  padding: 0 0.8ch;
  text-align: center;
  border-radius: 2.125ch;

  font: 600 13px / 1 monospace;
  letter-spacing: 0.05em;
  white-space: nowrap;
}
