.line-icon-default {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0.25rem 0.25rem 0 0;
  color: var(--text-color);
  background-color: var(--background-color);

  border-bottom: 3px solid;
  border-color: var(--line-colour);
}

.line-icon-pill {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 0.25rem;

  background-color: var(--line-colour);
  color: var(--line-text-colour);
}

.line-icon-rounded {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 4.25ch;
  height: 4.25ch;
  box-sizing: border-box;

  background-color: var(--line-colour);
  color: var(--line-text-colour);
  padding: 0 0.8ch;
  text-align: center;
  border-radius: 2.125ch;

  font: 600 13px / 1 monospace;
  letter-spacing: 0.05em;
  white-space: nowrap;
}
