.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 0;

  background-color: var(--background-color);

  max-width: 48rem;
  margin-inline: auto;
}

.vertical {
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  padding-top: 1rem;
  gap: 1rem;
  border-top: none;
}

.link {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  padding: 0.25rem 0;
  border-radius: 0.5rem;
  gap: 4px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 20px;
  border-radius: 20px;
  transition: background-color 0.2s ease;
}

.link svg {
  width: 1.375rem;
  height: 1.375rem;
  fill: none;
  stroke-width: 2;
}

.link span {
  font-size: 11px;
  line-height: 1;
  font-family: var(--font-ui);
}

.active {
  color: var(--button-background-color);
}

.active .iconWrapper {
  background-color: color-mix(
    in oklab,
    var(--button-background-color) 15%,
    transparent
  );
}

[data-theme="dark"] .active .iconWrapper {
  background-color: color-mix(
    in oklab,
    var(--button-background-color) 20%,
    transparent
  );
}
